{% extends "base.html" %}

{% block content %}
    <h1>Welcome, {{ user.username }}</h1>

    <ul>
        Your Games:
        {% for m in myGames %}
        <li>Game {{ m.id }}: {{ m.first_player }} vs {{ m.second_player }}</li>
        {% endfor %}
        <br>
        Your Active Games:
        {% for g in activeGames %}
        <li>Game {{ g.id }}: {{ g.first_player }} vs {{ g.second_player }}</li>
        {% endfor %}
        <br>
        Received Invitations:
        {% for r in receivedInvitations %}
        <li>{{ r }}</li>
        {% endfor %}
        <br>
        Sent Invitations:
        {% for s in sentInvitations %}
        <li>{{ s }}</li>
        {% endfor %}
    </ul>

    <a href="{% url 'player_new_invitation' %}">
        Invite another user to play a game
    </a>
{% endblock %}